/* base.css */
body {
  font-family: var(--fonte-principal);
  background-color: #fff;
  color: #333;
  font-size: 16px;
  
}
.btn {
  font-size: 1.25rem;
  width: 161px;
  height: 48px;
  border-radius: 25px;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;

}
.btn-outline{
  border: 2px solid #fff;
  background-color: transparent;
  line-height: 23px

}
.btn-filler{
  background-color: #fff;
  color: #6329A2;
}
.btn:hover {
  background-color: #6329A2;
  color: #fff;
  border: 2px solid #6329A2;
}
