.header{
  background-color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 40px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.logo{
  height: 40px;
}.nav-center ul{
  display: flex;
  gap: 2.5rem;
}
.logo img{
  height: 48px;
}
.nav-center a, .nav-right a{
  font-size: 1.25rem;
}
.nav-center a:hover,
.nav-right a:hover{
  color: #7c3aed;
}
.nav-right ul{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-right img{
  height: 20px;
}
.nav-center a:hover img{
  opacity: 0.7;
}
